// Color variables
@import './../vendor/sass-md-colors/colors/variables';

// Customize any variables here, before loading the default variables
$brand-primary: $light-blue-600;
$zindex-navbar: 1000 !default;
$btn-padding-x-sm: 0.5rem !default;
$btn-padding-y-sm: 0.25rem !default;
$font-size-xs: 0.75rem !default;
$line-height: 1.5 !default;

// AdminPlus Lite
@import './../vendor/admin-plus/variables';

// Bootstrap Layout
@import './../vendor/bootstrap-layout/src/sass/variables';

// Bootstrap Layout Scrollable
@import './../vendor/bootstrap-layout-scrollable/src/sass/variables';
