@import "node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 3.5rem;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

@import "components/sidebar";

.placeholders {
  padding-bottom: 3rem;

  img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
