* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.layout {
  min-height: 100%;
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #039BE5;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-vertical {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.display-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form {
  width: 400px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, .3) 0 1px 4px;
  border-radius: 4px;

  * {
    box-sizing: border-box;
  }
}

header {
  padding: 20px;

  h1 {
    text-align: center
  }

  .heading-content {
    color: #B4B4B4;
    font-size: 14px;
    padding-top: 20px;
    text-align: center;
  }
}

.form-group {
  padding: 20px;
  border-top: 1px solid #dfe1e4;
}

.fieldset {
  margin: 10px 0 30px;
  position: relative;
}

.form-field {
  margin-bottom: 10px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }

  .input {
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    color: #3c3c3c;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px 15px;
    -webkit-transition: all .2s;
    transition: all .2s;
    width: 100%;

    &:focus {
      background: #fff;
      border-color: #3eade6;
      box-shadow: 0 0 10px rgba(62,173,230,.5);
      outline: 0;
    }
  }
}

.btn {
  height: 40px;
  border: none;
  background: #00CC66;
  width: 100%;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #eeeeee;
  border-bottom: solid 3px #43A047;
  border-radius: 3px;
  cursor: pointer;
  text-shadow: #43A047 0 1px 0;
  text-transform: uppercase;
}

.label {
  color: #a9a9a9;
  cursor: pointer;
  font-size: 15px;
  padding: 0 0 0 10px;
  position: relative;
}

.form-link {
  color: #a1a1a1;
  position: relative;
  text-decoration: underline;
}
